body {
    background-color: $primary-bg-color;
    color: $primary-text-color;
}

#page-wrapper {
    margin: 1.5rem 25%;
    .content-wrapper {
        margin: 0 2em;
    }
}

a {
    @include link-styling();
}

.link-button {
    @include link-styling;
    background-color: transparent;
    border: none;
}

ol,
ul {
    margin: 0;
    padding: 0;
}
