#header {
    background-color: $secondary-bg-color;
    padding: 1em 3em 0.25em 3em;
    .navbar {
        .container-fluid {
            margin-bottom: 1rem;
            display: flex;
            gap: 5em;
            align-items: flex-end;
            justify-content: flex-start;
        }

        .navbar-brand {
            font-size: 1.5em;
        }
        .nav {
            display: flex;
            gap: 1rem;
            .nav-item {
                .nav-link {
                    @include link-styling();
                }
            }
        }
    }
}
