#planner-wrapper {
    .planner-frame {
        display: flex;
        flex-direction: column;
        .dupes-wrapper {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            justify-items: center;
            text-align: center;
        }
        .worlds-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            .world-wrapper {
                border: red 1px solid;
                min-height: 50px;
            }
        }
    }
}

.input-group-wrapper {
    display: flex;
}
