$primary-bg-color: #171a21;
$secondary-bg-color: #2e3538;

$primary-text-color: #9badc0;

$primary-accent-color: #afb3f7;

$periwinkle: #afb3f7;
$blue-gray: #9badc0;
$black: #171a21;
$dark-gray: #2e3538;
$medium-gray: #788591;
$off-white: #ebebff;
